<div class="module" id="news" style="background-color: white; border-radius: 10px; min-height: 200px; max-height: 750px; overflow: hidden; <% if (menu == 'news') { %> display: block; <% } else { %> display: none; <% } %> padding-bottom: 5%; overflow-y: scroll;">
    <div style="height: 5px; background-color: #00A65A;"></div>
    <p style="margin: 1% 0 0 3%; font-size: 25px">News</p>

    <div style="text-align: center; margin: 0 5% 0 5%;">
        <button style="display: none; text-align: center; border: none; background-color: #5bb75b; padding: 5px; color: white; margin-top: 1%; width: 40%;" id="add_article_button" onclick="addNewsArticle()">add article</button>
    </div>

    <script>
        hasPermission('news.add', function (result) {
            if (result) {
                var buttonElement = document.getElementById('add_article_button');
                buttonElement.style.display = 'initial';
            }
        });

        function openNewsCreation() {
            document.getElementById('news_form').style.display = 'block';
        }
    </script>

    <form id="news_remove_form" method="POST" action="/panel/removenews" style="display: none"></form>
    <form id="news_edit_form" method="POST" action="/panel/editnews" style="display: none"></form>

    <div id="news_articles" style="margin: 0 5% 0 5%;">
        <script>

            $.getJSON(window.origin + '/json/news/0&2', function (data) {
                addNewsElements(data);
            });

        </script>

        <div id="load_more_articles_button" style="text-align: center;">
            <button onclick="loadMoreNews()" style="border: none; background-color: #2F2F2F; color: white; padding: 5px; width: 40%; text-align: center; margin-top: 2.5%; outline: 0;">LoadMore</button>
        </div>
    </div>
</div>

<script>
    function openArticleEditor(id) {
        clearNewsEditor();

        var object = getNewsArticle(id);

        if (object != undefined) {
            document.getElementById('news-edit-id').value = id;

            var titleElement = document.getElementById('news-edit-title');
            titleElement.value = object.title;

            var descriptionElement = document.getElementById('news-edit-description');
            descriptionElement.innerHTML = object.description;

            var groupsElement = document.getElementById('news-edit-added-groups');
            for (var index in object.groups) {
                var aElement = document.createElement('a');
                aElement.setAttribute('class', 'cansee-group');
                aElement.setAttribute('onclick', 'removeCanSeeGroup(this)');
                aElement.innerHTML = object.groups[index];
                groupsElement.appendChild(aElement);
            }

            document.getElementById('background_overlay').style.display = 'initial';
            document.getElementById('news_item_edit_window').style.display = 'initial';
        }
    }

    function addNewsArticle() {
        clearNewsEditor();

        document.getElementById('background_overlay').style.display = 'initial';
        document.getElementById('news_item_edit_window').style.display = 'initial';
    }

    function clearNewsEditor() {
        document.getElementById('news-edit-id').value = '';

        var titleElement = document.getElementById('news-edit-title');
        titleElement.value = '';

        var descriptionElement = document.getElementById('news-edit-description');
        descriptionElement.innerHTML = '';

        var groupsElement = document.getElementById('news-edit-added-groups');
        while (groupsElement.firstChild) {
            groupsElement.removeChild(groupsElement.firstChild);
        }

        document.getElementById('news-edit-dropdown-field').value = '';
    }

    function getNewsArticle(id) {
        for (var index in newsArticles) {
            if (newsArticles[index].id == id) {
                return newsArticles[index];
            }
        }
    }

    var newsArticles = [];
    function addNewsElements(data) {
        for (var index in data) {
            newsArticles[newsArticles.length] = data[index];

            var newsElement = document.getElementById('news_articles');

            var divElement = document.createElement('div');
            divElement.setAttribute('class', 'article');
            divElement.setAttribute('id', 'article_' + data[index].id);
            divElement.innerHTML = '<p style="font-size: 18px">' + data[index].title + '</p>' +
                '<div>' + data[index].description + '</div>' +
                '<p style="text-align: right; font-size: 10px">' + data[index].date + '</p>';

            newsElement.insertBefore(divElement, document.getElementById('load_more_articles_button'));
        }

        hasPermission('news.edit', function (result) {
            if (result) {
                var elements = document.getElementsByClassName('news_edit_buttons');

                for (var index in elements) {
                    if (elements[index].style != undefined) {
                        elements[index].style.display = 'initial';
                    }
                }
            }
        });

        hasPermission('news.remove', function (result) {
            if (result) {
                var elements = document.getElementsByClassName('news_delete_buttons');

                for (var index in elements) {
                    if (elements[index].style != undefined) {
                        elements[index].style.display = 'initial';
                    }
                }
            }
        });
    }

    function removeArticle(article_id) {
        document.getElementById('background_overlay').style.display = 'initial';
        document.getElementById('loader_window').style.display = 'initial';

        $.ajax({
            url: '/panel/removenews/' + article_id,
            type: 'GET',
            success: function (result) {
                resetArticles(function () {
                    document.getElementById('background_overlay').style.display = 'none';
                    document.getElementById('loader_window').style.display = 'none';
                });
            }
        })
    }

    function submitEditArticle() {
        closePopup();

        document.getElementById('background_overlay').style.display = 'initial';
        document.getElementById('loader_window').style.display = 'initial';

        var id = document.getElementById('news-edit-id').value;
        var title = document.getElementById('news-edit-title').value;
        var description = document.getElementById('news-edit-description').innerHTML;

        var groupsElement = document.getElementById('news-edit-added-groups');
        var groups = [];
        for (var index in groupsElement.children) {
            if (groupsElement.children[index].innerHTML != undefined) {
                groups[groups.length] = groupsElement.children[index].innerHTML;
            }
        }

        $.ajax({
            url: window.origin + '/panel/editnews',
            type: 'POST',
            data: {
                id: id,
                title: title,
                description: description,
                groups: JSON.stringify(groups)
            },
            success: function () {
                resetArticles(function () {
                    document.getElementById('background_overlay').style.display = 'none';
                    document.getElementById('loader_window').style.display = 'none';
                });
            }
        });
    }

    function loadMoreNews() {
        from += 3;
        $.getJSON(window.origin + '/json/news/' + from + '&' + (from + 2), function (data) {
            addNewsElements(data);
        });
    }

    function resetArticles(callback) {
        while (document.getElementById('news_articles').children.length > 1) {
            document.getElementById('news_articles').removeChild(document.getElementById('news_articles').firstChild);
        }

        newsArticles = [];
        from = 0;

        $.getJSON(window.origin + '/json/news/' + from + '&' + (from + 2), function (data) {
            addNewsElements(data);

            callback();
        });
    }
</script>