<div class="module" id="news" style="background-color: white; border-radius: 10px; min-height: 200px; max-height: 750px; overflow: hidden; <% if (menu == 'news') { %> display: block; <% } else { %> display: none; <% } %> padding-bottom: 5%; overflow-y: scroll;">
    <div style="height: 5px; background-color: #00A65A;"></div>
    <p style="margin: 1% 0 0 3%; font-size: 25px">News</p>

    <div style="text-align: center;">
        <button style="display: none; text-align: center; border: none; background-color: #5bb75b; padding: 5px; color: white; margin-top: 1%;" id="add_article_button" onclick="addNewsArticle()">add article</button>
    </div>

    <script>
        hasPermission('news.add', function (result) {
            if (result) {
                var buttonElement = document.getElementById('add_article_button');
                buttonElement.style.display = 'initial';
            }
        });

        function openNewsCreation() {
            document.getElementById('news_form').style.display = 'block';
        }
    </script>

    <form id="news_remove_form" method="POST" action="/panel/removenews" style="display: none"></form>
    <form id="news_edit_form" method="POST" action="/panel/editnews" style="display: none"></form>

    <div id="news_articles" style="margin: 0 5% 0 5%;">
        <script>

            $.getJSON(window.origin + '/json/news/0&2', function (data) {
                addNewsElements(data);
            });

        </script>
        <button id="load_more_articles_button" onclick="loadMoreNews()" style=" border: none; background-color: #2F2F2F; color: white; padding: 5px; margin: 1% 50% 0 50%;">LoadMore</button>
    </div>
</div>

<script>
    function openArticleEditor(id) {
        clearNewsEditor();

        var object = getNewsArticle(id);

        if (object != undefined) {
            document.getElementById('news-edit-id').value = id;

            var titleElement = document.getElementById('news-edit-title');
            titleElement.value = object.title;

            var descriptionElement = document.getElementById('news-edit-description');
            descriptionElement.innerHTML = object.description;

            document.getElementById('background_overlay').style.display = 'initial';
            document.getElementById('news_item_edit_window').style.display = 'initial';
        }
    }

    function addNewsArticle() {
        clearNewsEditor();

        document.getElementById('background_overlay').style.display = 'initial';
        document.getElementById('news_item_edit_window').style.display = 'initial';
    }

    function clearNewsEditor() {
        document.getElementById('news-edit-id').value = '';

        var titleElement = document.getElementById('news-edit-title');
        titleElement.value = '';

        var descriptionElement = document.getElementById('news-edit-description');
        descriptionElement.innerHTML = '';
    }

    function getNewsArticle(id) {
        for (var index in newsArticles) {
            if (newsArticles[index].id == id) {
                return newsArticles[index];
            }
        }
    }

    var newsArticles = [];
    function addNewsElements(data) {
        for (var index in data) {
            newsArticles[newsArticles.length] = data[index];

            var newsElement = document.getElementById('news_articles');

            var divElement = document.createElement('div');
            divElement.setAttribute('class', 'article');
            divElement.setAttribute('id', 'article_' + data[index].id);
            divElement.innerHTML = '<p style="font-size: 18px">' + data[index].title + '</p><div>' + data[index].description + '</div><p style="text-align: right; font-size: 10px">' + data[index].date + '</p>';

            newsElement.insertBefore(divElement, document.getElementById('load_more_articles_button'));
        }

        console.log(newsArticles)

        hasPermission('news.edit', function (result) {
            if (result) {
                for (var index in data) {
                    var buttonElement = document.createElement('button');
                    buttonElement.setAttribute('style', 'background-color: orange; border: none; padding: 5px; color: white;');
                    buttonElement.setAttribute('onclick', 'openArticleEditor(' + data[index].id + ')');
                    buttonElement.innerHTML = 'Edit article';
                    document.getElementById('article_' + data[index].id).appendChild(buttonElement);
                }
            }
        });

        hasPermission('news.remove', function (result) {
            if (result) {
                for (var index in data) {
                    var buttonElement = document.createElement('button');
                    buttonElement.setAttribute('style', 'background-color: red; border: none; padding: 5px; color: white;');
                    buttonElement.setAttribute('onclick', 'removeArticle(' + data[index].id + ')');
                    buttonElement.innerHTML = 'Remove article';
                    document.getElementById('article_' + data[index].id).appendChild(buttonElement);
                }
            }
        });
    }

    function submitNewsEdit(element) {
        document.getElementById('news-edit-content').value = document.getElementById('news-edit-description').innerHTML;

        element.parentNode.submit();
    }
</script>